@font-face {
    font-family: title_font;
    src: url("./DarlingtonDemo-z8xjG.ttf");
  }
  @font-face {
    font-family: title_font2;
    src: url("./ParadisePlumsDemoRegular.ttf");
  }



  #carousalcard{
    background-color: #212121;
     width: 37vw !important; 
     height: 43vh !important; 
     display: flex ;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     border-radius: 25px;
     box-shadow:
     1.5px 1.4px 2.2px rgba(0, 0, 0, 0.033),
     3.7px 3.4px 5.3px rgba(0, 0, 0, 0.048),
     7px 6.4px 10px rgba(0, 0, 0, 0.057),
     12.5px 11.4px 17.9px rgba(0, 0, 0, 0.063),
     23.4px 21.3px 33.4px rgba(0, 0, 0, 0.067),
     56px 51px 80px rgba(0, 0, 0, 0.07)
  }
  #carousalcard:hover {
    transform: scale(1.05);
  }
  #carousalcard:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }


#Carimage{
   
    border-radius: 25px;
    position:relative;
width: 96% !important;
height: 80% !important;

margin-top: 20px;

}
.c_text{
    color: white;
    position: relative;
   

 font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 900;

}

.text_box{
    width: 100%;
    display: flex;
    justify-content: space-around;

}