/* CarCard.css */

.car-card {
    background-color: #f8f8f8;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin: 16px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .car-card:hover {
    transform: scale(1.05);
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  h2 {
    margin: 16px 0;
    color: #333;
    font-size: 1.5rem;
  }
  
 
   /* Optional: Add a subtle box-shadow to the card on hover */
  .car-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }